In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 데이터 적재

강원 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(강원)주요관광지점 입장객(2004.07 이후)_190806024209.xls')
충북 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(충북)주요관광지점 입장객(2004.07 이후)_190806024220.xls')
충남 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(충남)주요관광지점 입장객(2004.07 이후)_190806024231.xls')
전북 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(전북)주요관광지점 입장객(2004.07 이후)_190806024241.xls')
전남 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(전남)주요관광지점 입장객(2004.07 이후)_190806024255.xls')
경북 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(경북)주요관광지점 입장객(2004.07 이후)_190806024305.xls')
경남 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(경남)주요관광지점 입장객(2004.07 이후)_190806024319.xls')
제주 = pd.read_excel('C:/Users/user/Desktop/kdata/프로젝트/(제주)주요관광지점 입장객(2004.07 이후)_190806024328.xls')

In [24]:
강원.head()

,시도,군구,관광지,구분,세부구분,내/외국인,총계,(2014년 ~ 2018년),Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014년,2015년,2016년,2017년,2018년
1,강원도,춘천시,KT&G 상상마당 춘천아트센터,유료,측정,내국인,"941,817",-,-,"320,402","314,622","306,793"
2,강원도,춘천시,KT&G 상상마당 춘천아트센터,유료,측정,합계,"941,817",-,-,"320,402","314,622","306,793"
3,강원도,춘천시,강원도립화목원,유료,측정,내국인,"977,656","179,065","189,207","203,266","210,970","195,148"
4,강원도,춘천시,강원도립화목원,유료,측정,외국인,0,0,0,0,0,0

In [3]:
# 컬럼 네임 재설정 

강원 = 강원.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
강원.drop(0, inplace=True)

충북 = 충북.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
충북.drop(0, inplace=True)

충남 = 충남.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
충남.drop(0, inplace=True)

전북 = 전북.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
전북.drop(0, inplace=True)

전남 = 전남.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
전남.drop(0, inplace=True)

경북 = 경북.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
경북.drop(0, inplace=True)

경남 = 경남.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
경남.drop(0, inplace=True)

제주 = 제주.rename(columns = {'(2014년 ~ 2018년)':'2014년', 
                     'Unnamed: 8':'2015년', 
                     'Unnamed: 9':'2016년',
                     'Unnamed: 10':'2017년',
                     'Unnamed: 11':'2018년'})
제주.drop(0, inplace=True)

In [26]:
강원.head()

,시도,군구,관광지,구분,세부구분,내/외국인,총계,2014년,2015년,2016년,2017년,2018년
1,강원도,춘천시,KT&G 상상마당 춘천아트센터,유료,측정,내국인,"941,817",-,-,"320,402","314,622","306,793"
2,강원도,춘천시,KT&G 상상마당 춘천아트센터,유료,측정,합계,"941,817",-,-,"320,402","314,622","306,793"
3,강원도,춘천시,강원도립화목원,유료,측정,내국인,"977,656","179,065","189,207","203,266","210,970","195,148"
4,강원도,춘천시,강원도립화목원,유료,측정,외국인,0,0,0,0,0,0
5,강원도,춘천시,강원도립화목원,유료,측정,합계,"977,656","179,065","189,207","203,266","210,970","195,148"

In [79]:
# 통합데이터 생성

total = pd.concat([강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주], axis = 0, ignore_index = True)

In [80]:
# 결측치 0으로 처리

for i in range(0,12):
    for j in range(0, len(total)):
        if total.iloc[j][i] == '-':
            total.iloc[j][i] = 0

In [81]:
# 방문객 수가 string으로 처리되어 있으므로 float 형식으로 변환

for i in range(6, 12):
    for j in range(0, len(total)):
        if type(total.iloc[j][i]) == str:
            total.iloc[j][i] = total.iloc[j][i].replace(',', '')
            total.iloc[j][i] = float(total.iloc[j][i])
        elif type(total.iloc[j][i]) == int:
            total.iloc[j][i] = float(total.iloc[j][i])

In [ ]:
for i in range(6, 11):
    for j in range(1, len(total)):
        print(type(total.iloc[j][i]))

In [82]:
# 내국인 수치만 추출
total = total.loc[total['내/외국인'] == '내국인', :]

In [87]:
# 2014년 ,2018년, 총계(5년치 합) 컬럼 삭제 

total = total.drop(total[['2014년', '2018년', '총계']], axis = 1)

In [ ]:
# 관광객 수가 집계되지 않은 컬럼?

total.loc[(total['2015년']==0) |(total['2016년']==0)|(total['2017년']==0), : ]

In [90]:
# 집계 안된 년도가 뒤죽박죽 -> 일관된 처리 어려우므로 모두 삭제

total = total.loc[(total['2015년']!=0) & (total['2016년']!=0) & (total['2017년']!=0), : ]

In [91]:
# 시군별 방문객 수 합계 테이블
totalsum = total.pivot_table(index = ['시도', '군구'], aggfunc = 'sum',
                values = ['2015년','2016년','2017년'])

In [92]:
# 지역 별 관광지 수를 나타내는 컬럼 생성
count = pd.DataFrame(pd.value_counts(total['군구']))
count.reset_index(inplace = True)
count.columns = ['군구', '관광지수']
totalsum = pd.merge(totalsum, count, on = '군구')

In [99]:
# 3년 간 관광객 수 총합 / 관광지 수 (관광지가 많은 도시)

totalsum['평균관광객수'] = (totalsum['2015년']+totalsum['2016년']+totalsum['2017년'])/totalsum['관광지수']

In [1]:
# 비수도권지역 비인기 관광지 추출


비인기관광지 = totalsum.loc[totalsum['평균관광객수'] < totalsum['평균관광객수'].mean(), :].sort_values(by = '평균관광객수')

print(비인기관광지)
print(len(비인기관광지))

NameError: name 'totalsum' is not defined